 
  
  .xxx  {
    width: 90%;
    height:200px;
    margin: 70px;
  }
  
  .swiper-slide {
  
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .xxx .swiper-slide img {
    display: block;
    width: 200px !important;
    height: auto !important;
    padding-right: 50px;
    padding-left: 50px;
    cursor: grab;
  }
  